/AddInteger.class
/Average.class
/CommonValues.class
/Copy.class
/Difference.class
/Duplicates.class
/Index.class
/Insert.class
/MaxMin.class
/Regex.class
/Remove.class
/RemoveDuplicates.class
/Reverse.class
/SecondLargest.class
/Specific.class
/StringExample.class
/TwoSpecific.class
